.slider{
   
    width: 300px;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0%;
 width: 100%;
 margin:auto;
 overflow: hidden;
 background-color: black; 
 

}
.slider ul{

display: flex;
padding: 0%;
width: 400%;
animation: cambio 20s infinite alternate;
padding-bottom: 0%;
margin-bottom: 0%;

}

.slider li{
width: 100%;
list-style: none;
padding-bottom: 0%;
margin-bottom: 0%;

}

.slider img{
    border-radius: 5%;
    margin-left: 25%;
width: 50%;
padding-bottom: 0%;
margin-bottom: 0%;

}

.title{
    color:white;
text-align: center;


}

.linea{

align-items: center;
background-color: seashell;
padding-top: 0%;
margin-top: 0%;

}

@keyframes cambio{
0% {margin-left: 0;}
20%{margin-left: 0;}

25%{ margin-left: -100%;}
45%{margin-left: -100%;}

50%{margin-left: -200%;}
70%{margin-left: -200%;}

75%{margin-left: -300%;}
100%{margin-left: -300%;}

}
